@font-face {
    font-family: "Lora";
    src: url("../fonts/Lora-Regular.woff2") format("woff2");
    font-weight: 400
}

@font-face {
    font-family: "Lora";
    src: url("../fonts/Lora-Bold.woff2") format("woff2");
    font-weight: 600
}


@font-face {
    font-family: "GothamPro";
    src: url("../fonts/GothamProRegular.woff") format("woff");
    font-weight: 400
}
