.main {
    padding-top: 150px;
    background-image: url("../images/png/main_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: $color-white;
    padding-bottom: 234px;

    @media (max-width: 768px) {
        padding-top: 51px;
        padding-bottom: 51px;
    }

    @media (max-width: 1024px) {
        padding-top: 195px;
    }

    .container {
        position: relative;
    }

    &__toasts {
        position: absolute;
        top: 0px;
        right: 0px;
        display: flex;
        flex-direction: column;
        row-gap: 9px;

        @media (max-width: 1024px) {
            left: 15px;
            top: -137px;
            right: auto;

            .toast:not(:first-child) {
                display: none;
            }
        }
    }

    &__heading {
        @include heading;
        max-width: 583px;
        margin-bottom: 54px;

        @media (max-width: 1024px) {
            max-width: 100%;
        }
    }

    &__button {
        border: 1px solid $color-white;
        background-color: transparent;
        padding: 14px 33px;
        transition: 0.5s ease-in;

        &:hover {
            background-color: $color-violet;
        }
    }

    &__content {
        display: flex;
        justify-content: space-between;
    }

    &__social {
        display: flex;
        flex-direction: column;
        row-gap: 13px;

        @media (max-width: 768px) {
            display: none;
        }
    }
}

.toast {
    background: rgba(255, 255, 255, 0.53);
    padding: 15px;
    color: $color-black;
    font-family: 'GothamPro';
    transition: 0.5s ease-in-out;
    display: flex;
    min-height: 90px;
    width: 358px;

    a {
        color: $color-black;
    }

    @media (max-width: 768px) {
        width: 290px;
        font-size: 10px;
    }

    &_first {
        @media (max-width: 768px) {
            display: none;
        }

        opacity: 0;
        position: absolute;
        top: -150px;
        right: 0px;
        box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.15);

    }

    &_visible {
        opacity: 1;
    }


    &__close {
        cursor: pointer;
        position: absolute;
        top: 0px;
        right: 0px;

        @media (max-width: 768px) {
            right: -10px;
            top: -10px;
        }
    }

    &_second {
        font-size: 12px;
        border: 1px solid #FFFFFF;

        @media (max-width: 768px) {
            font-size: 10px;
        }

        span {
            max-width: 224px;
        }
    }

    &__content {
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        column-gap: 21px;
        justify-content: center;

        @media (max-width: 768px) {
            column-gap: 14px;
        }


    }
}

.order {
    padding-top: 65px;
    padding-bottom: 28px;

    @media (max-width: 768px) {
        padding-top: 37px;
    }

    &__widgets {
        display: flex;
        justify-content: space-between;

        @media (max-width: 768px) {
            flex-direction: column;
            row-gap: 22px;
            align-items: center;
        }
    }

    &__calendar {
        color: $color-dark;
        font-family: 'GothamPro';
        width: 30%;
        display: flex;
        height: 71px;
        justify-content: space-around;
        align-items: center;
        border: 1px solid $color-violet;

        @media (max-width: 768px) {
            max-width: 403px;
            width: 100%;
        }


        img {
            display: inline-block;

        }

        input {
            border: none;
            margin-left: 26px;
        }
    }

    &__button {
        width: 30%;
        height: 71px;

        @media (max-width: 768px) {
            width: 100%;
            max-width: 403px;
        }
    }
}

input::-webkit-calendar-picker-indicator {
    display: none;
}

.verticle-line {
    display: inline-block;
    width: 1px;
    height: 100%;
    background: $color-violet;
}








.info {
    background: $color-gray;
    padding-top: 101px;

    @media (max-width: 768px) {
        padding-top: 48px;
    }

   

    &__button {
        display: block;
        margin: 0px auto 104px auto;

        @media (max-width: 768px) {
            margin-bottom: 51px;
        }
    }

    &__flex {
        text-align: center;
        font-family: 'GothamPro';
        font-size: 14px;
        line-height: 22px;
        align-items: flex-start;
        margin-bottom: 59px;

        @media (max-width: 768px) {
            flex-direction: column;
            row-gap: 14px;
            margin-bottom: 20px;

        }

        &__heading {
            font-size: 20px;
            line-height: 22px;
            margin-bottom: 12px;
        }

        &__item {
            width: 22%;

            @media (max-width: 768px) {

                width: 100%;

            }


            span {
                display: block;
            }
        }
    }


    &__house {}


}







