@charset "UTF-8";
@font-face {
  font-family: "Lora";
  src: url("../fonts/Lora-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Lora";
  src: url("../fonts/Lora-Bold.woff2") format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothamProRegular.woff") format("woff");
  font-weight: 400;
}
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

button {
  outline: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

html,
body {
  height: 100%;
  font-size: 16px;
  font-weight: 400;
  font-family: "Lora";
  color: #343434;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  box-shadow: 12px 12px 7px rgba(0, 0, 0, 0.5);
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
}
@media (min-width: 1440px) {
  .container {
    max-width: 1320px;
  }
}
@media (max-width: 1300px) {
  .container {
    max-width: 1140px;
  }
}
@media (max-width: 1200px) {
  .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  padding: 14px 33px;
  border: 1px solid #343434;
  background: #FFFFFF;
  color: #343434;
  border: none;
  border: 1px solid #666981;
}
.button:hover {
  background: #666981;
  color: #FFFFFF;
}
.button_gray {
  color: #FFFFFF;
  background: #666981;
  border: none;
}
.button_gray:hover {
  color: #343434;
  background: #FFFFFF;
}
.button_gray-light {
  color: #FFFFFF;
  background: #666981;
  border: none;
}
.button_gray-light:hover {
  color: #666981;
  background: #DFE0EA;
}

.methods__img_first {
  display: none;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .methods__img_first {
    display: block;
  }
}
@media (max-width: 1300px) {
  .methods__img {
    align-self: start;
    max-width: 50%;
  }
}
@media (max-width: 768px) {
  .methods__img {
    display: none;
  }
}
.methods__item {
  color: #343434;
  padding-top: 127px;
  padding-bottom: 127px;
  position: relative;
}
@media (max-width: 768px) {
  .methods__item {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.methods__item_gray {
  background: #FAFAFA;
}
.methods__item .container {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .methods__item .container {
    flex-direction: column;
    row-gap: 20px;
  }
}
.methods__link {
  font-size: 30px;
  line-height: 55px;
}
@media (max-width: 768px) {
  .methods__link {
    font-size: 18px;
    line-height: 20px;
  }
}
.methods__link img {
  margin-left: 21px;
  display: inline-block;
}
.methods__buttons {
  display: flex;
  -moz-column-gap: 22px;
  column-gap: 22px;
  align-items: center;
}
@media (max-width: 768px) {
  .methods__buttons {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 8px;
    width: 238px;
  }
  .methods__buttons button {
    width: 100%;
  }
}
.methods__content {
  margin-top: 20px;
  width: 40%;
}
@media (max-width: 768px) {
  .methods__content {
    width: 100%;
  }
}
.methods__heading {
  font-weight: 400;
  font-size: 40px;
  line-height: 51px;
  margin-bottom: 36px;
}
@media (max-width: 768px) {
  .methods__heading {
    font-size: 24px;
    line-height: 30px;
  }
}
@media (max-width: 768px) {
  .methods__heading {
    margin-bottom: 20px;
  }
}
.methods__text {
  font-family: "GothamPro";
  line-height: 33px;
  margin-bottom: 43px;
}
@media (max-width: 768px) {
  .methods__text {
    margin-bottom: 18px;
  }
}

.modal {
  position: absolute;
  z-index: 10000;
  top: 0;
  left: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
}
.modal__heading {
  font-size: 30px;
  line-height: 35px;
  margin-bottom: 16px;
  color: #000000;
}
@media (max-width: 768px) {
  .modal__heading {
    font-size: 18px;
    line-height: 20px;
  }
}
.modal__info {
  margin-bottom: 47px;
}
@media (max-width: 768px) {
  .modal__info {
    font-size: 14px;
    margin-bottom: 20px;
  }
}

.modal.is-visible {
  visibility: visible;
}

.modal-overlay {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(10, 10, 10, 0.35);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.3s, opacity 0.3s;
}

.modal.is-visible .modal-overlay {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}

.modal-wrapper {
  position: absolute;
  z-index: 9999;
  top: 20%;
  left: 50%;
  max-width: 615px;
  background-color: #fff;
  box-shadow: 0 0 1.5em hsla(0deg, 0%, 0%, 0.35);
}

.modal-transition {
  transition: all 0.3s 0.12s;
  transform: translateY(-10%);
  opacity: 0;
}

.modal.is-visible .modal-transition {
  transform: translateY(0) translateX(-50%);
  opacity: 1;
}

.modal-close {
  position: absolute;
  top: 25px;
  right: 25px;
}
@media (max-width: 768px) {
  .modal-close {
    top: 10px;
    right: 10px;
  }
}

.modal-close:hover {
  color: #777;
}

.modal-content {
  text-align: center;
  padding: 47px 63px 80px 63px;
  font-family: "GothamPro";
}
@media (max-width: 1024px) {
  .modal-content {
    padding: 20px 10px;
  }
}

.header {
  padding: 20px 0px 22px;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  width: 100%;
  z-index: 100;
  background-color: #FFFFFF;
}
.header__overlay {
  opacity: 0;
  display: none;
  z-index: 10;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  transition: opacity 1s ease-in;
  background: rgba(10, 10, 10, 0.56);
}
.header__overlay_open {
  display: block;
  opacity: 1;
}
@media (max-width: 768px) {
  .header {
    padding-top: 10px;
    padding-bottom: 19px;
  }
}
.header .container {
  position: relative;
}
.header a {
  color: #666981;
}
.header__first {
  display: flex;
  -moz-column-gap: 46px;
  column-gap: 46px;
  align-items: center;
}
@media (max-width: 768px) {
  .header__first {
    display: flex;
    -moz-column-gap: 9px;
    column-gap: 9px;
    align-items: center;
  }
}
.header__links {
  display: flex;
  -moz-column-gap: 32px;
  column-gap: 32px;
  align-items: center;
}
@media (max-width: 1024px) {
  .header__links {
    display: none;
  }
}
.header__info {
  display: flex;
  -moz-column-gap: 26px;
  column-gap: 26px;
  align-items: center;
}
@media (max-width: 768px) {
  .header__info img {
    display: flex;
    -moz-column-gap: 16px;
    column-gap: 16px;
    align-items: center;
    width: 18px;
    height: 18px;
  }
}
.hamburger {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  width: 60px;
  padding: 0px;
  height: 26px;
  background: white;
  border: none;
}
@media (max-width: 768px) {
  .hamburger {
    width: 30px;
    height: 18px;
  }
}

.hamburger.hamburger_open {
  z-index: 1;
  width: 30px;
  transform: translateY(10px);
}

.btn__hamb {
  position: relative;
  display: block;
  width: 100%;
  height: 2px;
  cursor: pointer;
}

.btn__hamb div {
  width: 100%;
  height: 100%;
}

.btn__hamb:before,
.btn__hamb:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
}

.btn__hamb:before {
  top: -8px;
}

.btn__hamb:after {
  top: 8px;
}

.btn__hamb--triangle-inverce div {
  width: 65%;
  background: #666981;
}

.btn__hamb--triangle-inverce:before {
  transition: transform 0.5s ease-in-out;
  background: #666981;
}

.btn__hamb--triangle-inverce:after {
  transition: transform 0.5s ease-in-out;
  width: 45%;
  background: #666981;
}

.header__menu {
  padding: 29px 44px 50px 95px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.15);
  top: 68px;
  left: -100%;
  display: inline-flex;
  flex-direction: column;
  transition: 0.5s ease-in-out;
  font-family: "GothamPro";
  position: absolute;
}
@media (max-width: 768px) {
  .header__menu {
    top: 49px;
  }
}
.header__menu li {
  line-height: 40px;
}
.header__menu li a {
  color: #343434;
}

.btn__hamb--triangle-inverce.hamb_open div {
  display: none;
}

.btn__hamb--triangle-inverce.hamb_open:before {
  transform: rotate(45deg);
}

.btn__hamb--triangle-inverce.hamb_open:after {
  width: 100%;
  transform: rotate(-45deg) translateY(-12px) translateX(10px);
}

.menu_open {
  left: 0px;
}

.services {
  padding: 15px 10px 28px 28px;
  max-width: 286px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.15);
  display: none;
  flex-direction: column;
  transition: 0.5s ease-in-out;
  font-family: "GothamPro";
  top: 68px;
  right: 220px;
  position: absolute;
}
.services li {
  line-height: 40px;
}
.services li a {
  color: #343434;
}

.img2 {
  display: none;
}

@media (max-width: 768px) {
  .img1 {
    display: none;
  }
  .img2 {
    display: block;
  }
}
.main {
  padding-top: 150px;
  background-image: url("../images/png/main_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #FFFFFF;
  padding-bottom: 234px;
}
@media (max-width: 768px) {
  .main {
    padding-top: 51px;
    padding-bottom: 51px;
  }
}
@media (max-width: 1024px) {
  .main {
    padding-top: 195px;
  }
}
.main .container {
  position: relative;
}
.main__toasts {
  position: absolute;
  top: 0px;
  right: 0px;
  display: flex;
  flex-direction: column;
  row-gap: 9px;
}
@media (max-width: 1024px) {
  .main__toasts {
    left: 15px;
    top: -137px;
    right: auto;
  }
  .main__toasts .toast:not(:first-child) {
    display: none;
  }
}
.main__heading {
  font-size: 40px;
  line-height: 51px;
  font-weight: 400;
  max-width: 583px;
  margin-bottom: 54px;
}
@media (max-width: 768px) {
  .main__heading {
    font-size: 26px;
    line-height: 33px;
  }
}
@media (max-width: 1024px) {
  .main__heading {
    max-width: 100%;
  }
}
.main__button {
  border: 1px solid #FFFFFF;
  background-color: transparent;
  padding: 14px 33px;
  transition: 0.5s ease-in;
}
.main__button:hover {
  background-color: #666981;
}
.main__content {
  display: flex;
  justify-content: space-between;
}
.main__social {
  display: flex;
  flex-direction: column;
  row-gap: 13px;
}
@media (max-width: 768px) {
  .main__social {
    display: none;
  }
}

.toast {
  background: rgba(255, 255, 255, 0.53);
  padding: 15px;
  color: #000000;
  font-family: "GothamPro";
  transition: 0.5s ease-in-out;
  display: flex;
  min-height: 90px;
  width: 358px;
}
@media (max-width: 768px) {
  .toast {
    width: 290px;
    font-size: 10px;
  }
}
.toast_first {
  opacity: 0;
  position: absolute;
  top: -150px;
  right: 0px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.15);
}
@media (max-width: 768px) {
  .toast_first {
    display: none;
  }
}
.toast_visible {
  opacity: 1;
}
.toast__close {
  cursor: pointer;
  position: absolute;
  top: 0px;
  right: 0px;
}
@media (max-width: 768px) {
  .toast__close {
    right: -10px;
    top: -10px;
  }
}
.toast_second {
  font-size: 12px;
  border: 1px solid #FFFFFF;
}
.toast_second span {
  max-width: 224px;
}
.toast__content {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  -moz-column-gap: 21px;
  column-gap: 21px;
  justify-content: center;
}
@media (max-width: 768px) {
  .toast__content {
    -moz-column-gap: 14px;
    column-gap: 14px;
  }
}

.order {
  padding-top: 65px;
  padding-bottom: 28px;
}
@media (max-width: 768px) {
  .order {
    padding-top: 37px;
  }
}
.order__widgets {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .order__widgets {
    flex-direction: column;
    row-gap: 22px;
    align-items: center;
  }
}
.order__calendar {
  color: #343434;
  font-family: "GothamPro";
  width: 30%;
  display: flex;
  height: 71px;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #666981;
}
@media (max-width: 768px) {
  .order__calendar {
    max-width: 403px;
    width: 100%;
  }
}
.order__calendar img {
  display: inline-block;
}
.order__calendar input {
  border: none;
  margin-left: 26px;
}
.order__button {
  width: 30%;
}
@media (max-width: 768px) {
  .order__button {
    width: 100%;
    max-width: 403px;
  }
}

input::-webkit-calendar-picker-indicator {
  display: none;
}

.verticle-line {
  display: inline-block;
  width: 1px;
  height: 100%;
  background: #666981;
}

.programs {
  padding-top: 96px;
  background: #FAFAFA;
  padding-bottom: 163px;
  background-image: url("../images/svg/Union.svg");
  background-repeat: no-repeat;
  background-position: top -100px right 100px;
}
@media (max-width: 768px) {
  .programs__select {
    display: block;
  }
}
@media (max-width: 768px) {
  .programs {
    padding-top: 48px;
    padding-bottom: 48px;
  }
}
.programs__heading {
  font-size: 40px;
  line-height: 51px;
  font-weight: 400;
  text-align: center;
  max-width: 752px;
  margin: 0px auto 51px auto;
}
@media (max-width: 768px) {
  .programs__heading {
    font-size: 26px;
    line-height: 33px;
  }
}
.programs__description {
  text-align: center;
  margin: 0px auto 57px auto;
  font-family: "GothamPro";
  max-width: 850px;
  font-size: 18px;
  line-height: 33px;
}
.programs__buttons {
  margin-bottom: 54px;
}
@media (max-width: 1300px) {
  .programs__buttons {
    flex-wrap: wrap;
    row-gap: 20px;
    justify-content: center;
    -moz-column-gap: 20px;
    column-gap: 20px;
  }
}
@media (max-width: 768px) {
  .programs__buttons {
    display: none;
  }
}
.programs__buttons button {
  height: 71px;
  padding: 0px 8px;
  font-family: "GothamPro";
  width: 192px;
  font-size: 12px;
  line-height: 16px;
}
.programs__slide {
  position: relative;
}
.programs__slide__img_first {
  display: none;
  margin-top: 20px;
}
@media (max-width: 768px) {
  .programs__slide__img_first {
    display: block;
  }
}
@media (max-width: 1440px) {
  .programs__slide__img {
    position: absolute;
    right: 0px;
  }
}
@media (max-width: 1300px) {
  .programs__slide__img {
    max-width: 50%;
  }
}
@media (max-width: 768px) {
  .programs__slide__img {
    display: none;
  }
}
.programs__slide__text {
  width: 40%;
  margin-top: 20px;
}
@media (max-width: 768px) {
  .programs__slide__text {
    width: 100%;
  }
}
.programs__slide__name {
  font-size: 30px;
  line-height: 35px;
}
.programs__slide__name span {
  display: block;
  font-family: "Gotham Pro";
  font-size: 18px;
  line-height: 35px;
}
.programs__slide__items {
  font-family: "GothamPro";
  line-height: 26px;
  margin-top: 42px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(57px, auto);
  margin-bottom: 25px;
}
@media (max-width: 768px) {
  .programs__slide__items {
    grid-template-columns: 1fr;
    margin-top: 16px;
    grid-auto-rows: minmax(31px, auto);
  }
}
.programs__slide__items span {
  display: block;
  padding-left: 27px;
  position: relative;
}
.programs__slide__items span::before {
  content: "—";
  position: absolute;
  left: 0;
}

.info {
  background: #FAFAFA;
  padding-top: 101px;
}
@media (max-width: 768px) {
  .info {
    padding-top: 48px;
  }
}
.info__heading {
  font-weight: 400;
  font-size: 40px;
  line-height: 51px;
  text-align: center;
  margin: 0px auto 51px auto;
  max-width: 790px;
}
@media (max-width: 768px) {
  .info__heading {
    font-size: 24px;
    line-height: 30px;
  }
}
@media (max-width: 768px) {
  .info__heading {
    margin: 0px auto 25px auto;
  }
}
.info__button {
  display: block;
  margin: 0px auto 104px auto;
}
@media (max-width: 768px) {
  .info__button {
    margin-bottom: 51px;
  }
}
.info__flex {
  text-align: center;
  font-family: "GothamPro";
  font-size: 14px;
  line-height: 22px;
  align-items: flex-start;
  margin-bottom: 59px;
}
@media (max-width: 768px) {
  .info__flex {
    flex-direction: column;
    row-gap: 14px;
    margin-bottom: 20px;
  }
}
.info__flex__heading {
  font-size: 20px;
  line-height: 22px;
  margin-bottom: 12px;
}
.info__flex__item {
  width: 22%;
}
@media (max-width: 768px) {
  .info__flex__item {
    width: 100%;
  }
}
.info__flex__item span {
  display: block;
}
.info__floors__buttons {
  margin-bottom: 47px;
  font-family: "GothamPro";
  font-size: 18px;
  line-height: 33px;
}
.info__floors__buttons button {
  margin-right: 26px;
  padding: 4px 29px;
  border-radius: 60px;
}
.info__floors__buttons button:last-child {
  margin-right: 0px;
}
.connection {
  background: linear-gradient(to right, #666981 50%, transparent 50%);
}
@media (max-width: 768px) {
  .connection {
    background: linear-gradient(to bottom, #666981 408px, transparent 408px);
  }
  .connection .flex {
    flex-direction: column;
  }
}
.connection__div {
  width: 50%;
}
@media (max-width: 768px) {
  .connection__div {
    width: 100%;
  }
}
.connection__div:last-child {
  font-size: 30px;
  line-height: 50px;
}
@media (max-width: 768px) {
  .connection__div:last-child {
    font-size: 18px;
    line-height: 25px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.connection__div:last-child span {
  display: block;
  max-width: 566px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 1300px) {
  .connection__div:last-child span {
    width: 90%;
  }
}
.connection__div form {
  max-width: 509px;
  margin: 58px auto 79px auto;
}
@media (max-width: 1300px) {
  .connection__div form {
    max-width: 80%;
  }
}
@media (max-width: 768px) {
  .connection__div form {
    margin: 59px auto;
  }
}
.connection__div form label {
  font-family: "GothamPro";
  color: #FFFFFF;
}
.connection__div form .form-control {
  background: #7B7E94;
  border-radius: 5px;
  border: none;
  height: 53px;
}

.form-check-label {
  font-size: 11px;
  line-height: 16px;
  margin-left: 10px;
  margin-bottom: 0px;
}

.form-group-check {
  display: flex;
  align-items: center;
}

.form-check-input {
  background-color: transparent;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid #FFFFFF;
  width: 16px;
  height: 16px;
  cursor: pointer;
  margin: 0px;
}
.form-check-input:checked {
  background: url("data:image/gif;base64,R0lGODlhCwAKAIABAP////3cnSH5BAEKAAEALAAAAAALAAoAAAIUjH+AC73WHIsw0UCjglraO20PNhYAOw==") 3px 3px no-repeat;
}

.form-group {
  margin-bottom: 21px;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
  margin-left: 1rem;
}

.form-control {
  display: block;
  width: 100%;
}

.form-footer {
  margin-top: 35px;
}
.form-footer button {
  margin-bottom: 19px;
}

.custom-select {
  position: relative;
  background-color: #666981;
  padding: 4px 96px 11px 3px;
  max-width: 345px;
}

.custom-select select {
  display: none;
}

.select-selected {
  background-color: #666981;
}

.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

.select-items div {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.select-items {
  position: absolute;
  background-color: #666981;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.footer {
  background: #DFE0EA;
  padding-top: 56px;
  font-family: "GothamPro";
  line-height: 30px;
  color: #343434;
}
@media (max-width: 768px) {
  .footer {
    padding-top: 25px;
    text-align: center;
  }
  .footer__empty {
    display: none;
  }
  .footer__links {
    display: none;
  }
}
.footer__under {
  background: #666981;
  color: #FFFFFF;
  padding-top: 36px;
  padding-bottom: 36px;
}
@media (max-width: 768px) {
  .footer__under {
    padding-top: 24px;
    padding-bottom: 18px;
  }
}
.footer__under span:first-child {
  margin-right: 36px;
}
@media (max-width: 768px) {
  .footer__under span {
    display: block;
  }
}
.footer__links {
  margin-top: 18px;
}
.footer__links_first {
  display: none;
}
.footer__links_first a {
  display: block;
  margin-bottom: 4px;
  text-align: left;
}
.footer__links_first div {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
@media (max-width: 768px) {
  .footer__links_first {
    display: flex;
    justify-content: space-around;
  }
}
@media (max-width: 768px) {
  .footer__links {
    text-align: center;
  }
}
.footer__links a {
  display: block;
  margin-bottom: 4px;
}
.footer a {
  color: #343434;
}
.footer img {
  display: inline-block;
}
.footer__content {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 2fr 1fr;
  row-gap: 38px;
  -moz-column-gap: 48px;
  column-gap: 48px;
  padding-bottom: 20px;
}
@media (max-width: 768px) {
  .footer__content {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}
.footer__item {
  display: flex;
  flex-direction: column;
  row-gap: 22px;
}
@media (max-width: 768px) {
  .footer__item {
    align-items: center;
  }
}
.footer__pins div img {
  margin-right: 8px;
}
.footer__pins div:first-child {
  margin-bottom: 8px;
}
.footer__social img:first-child {
  margin-right: 20px;
}
.footer__agreement a {
  font-size: 16px;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  color: #666981;
  display: block;
}